// Bootstrap функции и переменные
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Переменные нашего проекта, ипользуюся для собственных компонентов и для корректировки переменных бутстрапа
@import "variables";
@import "auth";

// Bootstrap утилиты
@import "~bootstrap/scss/utilities/display";
@import "~bootstrap/scss/utilities/flex";
@import "~bootstrap/scss/utilities/overflow";
@import "~bootstrap/scss/utilities/spacing";
@import "~bootstrap/scss/utilities/position";
@import "~bootstrap/scss/utilities/background";
@import "~bootstrap/scss/utilities/sizing";

// Bootstrap компоненты
// @import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/images";

@import "~bootstrap/scss/bootstrap";

.mirllex-btn {
  border: 1px solid #ccc !important;
  color: #fff !important;
  background-color: #2e3235 !important;
}
